In [42]:
import pandas as pd
import json
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [77]:
df = pd.read_csv("https://raw.githubusercontent.com/rashida048/Datasets/master/movie_dataset.csv")
df['release_date'].head()

0    2009-12-10
1    2007-05-19
2    2015-10-26
3    2012-07-16
4    2012-03-07
Name: release_date, dtype: object

In [78]:
#dropping the NA rows
x=df[df['release_date'].isna()]['index']
df=df.drop(x)

In [79]:
#separating the year and month from the release_date column into the year and month separrate column

df['release_date'].isna().sum()
df['year'] = pd.DatetimeIndex(df['release_date']).year
df['month'] = pd.DatetimeIndex(df['release_date']).month
df['year'] = df['year'].astype(int)
df['month']=df['month'].astype(int)

In [80]:
#Created the new languages count column using the spoken languages
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: json.loads(x))
df['Languages_count'] = df['spoken_languages'].apply(lambda x: len(x))

In [81]:
#created new productions producers count column from the production companies
df['production_companies']=df['production_companies'].apply(lambda x: json.loads(x))
df['productions_count']=df['production_companies'].apply(lambda x: len(x))

In [82]:
#created new productions countries count column from the production countries column
df['production_countries']=df['production_countries'].apply(lambda x: json.loads(x))
df['productions_countries_count']=df['production_countries'].apply(lambda x: len(x))

In [83]:
#converted into the usd version by keepin the $
df['revenue']=df['revenue'].apply(lambda x: "${:,.2f}".format(x / 100))

In [92]:
#removed the entire row which has the na in runtime and converted into the hours and minutes form
df = df.dropna(subset=['runtime'])
df['runtime']=df['runtime'].apply(lambda x: f"{int(x // 60)} hours and {int(x % 60)} minutes")

1    2 hours and 49 minutes
2    2 hours and 28 minutes
3    2 hours and 45 minutes
4    2 hours and 12 minutes
5    2 hours and 19 minutes
6    1 hours and 40 minutes
7    2 hours and 21 minutes
8    2 hours and 33 minutes
9    2 hours and 31 minutes
Name: runtime, dtype: object

Empty DataFrame
Columns: [index, budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, cast, crew, director, year, month, Languages_count, productions_count, productions_countries_count]
Index: []